* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
    cursor:pointer;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}


#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(42, 49, 51);
    color: #fff;
}

.sidebar-name,
.sidebar-job {
    margin: 0;
}
.sidebar-name {
    text-transform: uppercase;
}
.sidebar-job {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.section {
    padding-bottom: 2em;
    font-family: sans-serif;
    font-size:1.1em;
}
.section-title {
    text-transform: uppercase;
    font-size: 1em;
    color: #222;
    margin-bottom: 0.2em;
    font-weight: normal;
}
.section-description {
    color: #8c8c8c;
    font-size: 0.9em;
    font-family: "Roboto";
    font-weight: 300;
    margin-left: 2.3em;
    margin-right: 2.3em;
}

.timeline-wrapper {
    position:relative;
}

.border-left {
    height: 4.6em;
    border-left: 1px solid #8c8c8c;
    position: absolute;
    left: 0.375em;
    top: 2.8em;
}

.timeline-block {
    padding: 1em;
    padding-left: 2em;
    position:relative;
}

.timeline-img {
    height: 3em;
    position: absolute;
    right: 0em;
    top: 1.5em;
}

.circle {
	border-radius: 50%;
	width: 0.8em;
	height: 0.8em;
    border: 1px solid #8c8c8c;
    float:left;
    margin-top: 2em;
    background: #fff;
}

.skill-container {
    padding-left: 2em;
    margin-bottom: 1em;
    padding-top: 0.5em;
}

.label {
    display: inline-block;
    padding: .2em .6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    color: #434a54;
    background-color: #fff;
    border: 1px solid #aab2bd;
}


.timeline-period {
    font-size: 0.9em;
    color: #acacac;
}

.timeline-title {
    font-weight:400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.timeline-company {
    font-weight:400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recommendation {
    width: 100%;
    float: left;
}

.recommendation p {
    color: #8c8c8c;
}

.recommendation p i {
    color: #2a3133;
}

.recommendation-name {
    font-weight:400;
    color: #2c2c2c;
}

.recommendation-company {
    color: #8c8c8c;
    font-weight:400;
}

.section-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.footer {
    text-align: center;
    padding: 1em 0;
    clear: both;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .recommendation.left {
        width: 40%;
        float: left;
    }
    .recommendation.right {
        width: 50%;
        float: left;
    }

    .timeline-img {
        right: 2em;
    }
    .mobile-hide {
        display: block;
    }
    .mobile-show {
        display: none;
    }
}

@media (max-width: 48em) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
}
