/* light blue: #24BBDA */

.hideMe {
	/*display:none;*/
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	margin-top:30px;
	margin-bottom: 30px;
}

.main {
	padding-top: 15px;
	padding-bottom: 50px;


}

/** On small devices **/
@media (max-width: 750px) {

}


.title div {
    vertical-align: bottom;
    height:65px;
	margin-top: 16px;
	margin-bottom: 50px;
}

.title .name {
    font-size: 25px;
    font-weight: 600;
}
.title .position {
	color: #24BBDA;
	font-size: 14px;
	font-weight: 400;
	display: block;
}


.title .program {
}

.title .contact {
}

.title .border-left {
	border-left: solid 1px black;
}

.title .student-number {
	line-height:65px;
	text-align: right;
}

hr.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.dotted {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-top: 10px;
}

.section {
    margin-top:40px;
}

.section:first-child {
	margin-top:0;
}

.section .s-head {
    text-transform: uppercase;
    font-size:16px;
    font-weight:800;
}

.section .s-body {

}

.section.personal-statement p{
	/*text-align: justify;*/
}

.section .s-body .sub-head {
    font-weight: 600;
    margin-top:20px;
    margin-bottom:5px;
	border-bottom: solid 1px black;
}

.section .s-body .sub-head:first-child {
    margin-top: 0;
}

.work-experience .timeline dl:before {
    left: 5%;
}

.work-experience .timeline dl {
	padding: 0;
}

.work-experience .timeline dl dd .circ {
    left: 5%;
	top: 25px;
}

.work-experience .timeline dl dd .time {
    left: 18%;
	top: 15px;
}


.work-experience .timeline dl dd .events {
    left: 16%;
    width: 84%;
	margin-top: 15px;
    float: left !important;

}

@media screen and (max-width: 765px) {
	.work-experience .timeline dl dd .time {
		left: 8%;
	}

	.work-experience .timeline dl dd .events {
		margin-top: 47px;
		left: 8%;
	}

	.contact {
		font-size:12px;
	}
}

@media screen and (max-width: 464px) {
	.col-xxs-12 {
		width: 100%;
	}
}

.work-experience .timeline dl dd .events .events-heading {
	/*cursor: pointer;*/
}

.work-experience .timeline dl dd .events .events-heading .position {
	font-weight: 800;
}

.work-experience .timeline dl dd .events .events-heading .company {
	/*float:right;*/
	font-style: italic;
}


.work-experience .timeline dl dd .events .events-heading .period{
	display:block;
	color:#cccccc;
	font-weight: 400;
	font-style: italic;
}


.work-experience img {
    width: 64px;
    height: 64px;
}

.work-experience .description li {
	padding-bottom: 5px;
}

.programming-skills .skill {
	margin-top:10px;
}

.programming-skills .skill.active {
	/*background-color: rgba(244, 255, 26, 0.62);*/
}

.programming-skills .name {

}

.programming-skills .skill-progress i.no-fill{
    color: #cccccc;
}

.programming-skills i.fa.fa-circle.ng-scope {
	margin-left: 1px;
	margin-right: 1px;
}

.hobbies-interests .col-xs-3 {
	text-align: center;
}

.hobbies-interests .col-xs-3 .description {
	margin-bottom: 20px;
}
